

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.background-header{
	background:#fff;
	border-bottom:1px solid #E9E9E9;
}

.main-container{
	margin-top:20px;
}















